.field-group {
    margin-bottom: 25px; /* Más espacio entre campos */
    text-align: left;
}

label {
    display: block;
    color: #00F2FF; /* Cian Neón */
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px; /* Separación del label y el campo */
    letter-spacing: 1px;
}

input, select, textarea {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    transition: 0.3s;
}

.input-error {
    border-color: #ff4444;
}

.error-msg {
    color: #ff4444;
    font-size: 0.75rem;
    margin-top: 5px;
    display: block;
    min-height: 15px;
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    gap: 12px;
}

.card {
    background: rgba(255,255,255,0.03);
    border: 1px solid rgba(255,255,255,0.1);
    padding: 20px;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.2s, border-color 0.2s;
}

.card:hover { transform: translateY(-3px); border-color: #00F2FF; }
.card.selected { border-color: #00F2FF; background: rgba(0, 242, 255, 0.1); box-shadow: 0 0 15px rgba(0, 242, 255, 0.3); }